.chinese_chess {
    width: 500px;
    height: 600px;
    position: relative;
}

canvas {
    position: absolute;
}

#cc_background {
    z-index: 1;
    background-color: antiquewhite;
}

#cc_game {
    z-index: 2;
}

#cc_ui {
    z-index: 3;
}
